.AddProperty {
  display: flex;
  flex-direction: column;
 padding: 10px;
  height: 100vh;
}

.submit-button {
  border-radius: 5px;
  width: 50%;
  margin-top: 20px;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.properties-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.field-options {
  font-size: 1.2rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  text-indent: 10px;
  font-size: 20px;
}

select {
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  text-indent: 10px;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Tablet breakpoints */

@media only screen and (min-width: 460px) and (max-width: 920px) {
  .properties-form {
    width: 70%;
  }
}

/* Mobile breakpoints */

@media only screen and (max-width: 450px) {
  .properties-form {
    width: 97%;
  }
}