.properties-page {
  display: flex;
}

.alert .alert-error {
  margin: 5px;
}

.property-cards {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0.5rem;
}

@media only screen and (min-width: 1000px){
    .alert .alert-error {
    width: 20%;
  }
}

@media only screen and (max-width: 450px){
    .column {
    width: 100%;
  }
}

