.side-bar {
  border: 2px solid lightgrey;
  background: white;
}

.filter-title {
  color: black;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.property-search-button {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 5px;
}

.property-search-input{
  border-radius: 2px;
  border: 1px solid black;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

.property-search-button:hover {
  color: white;
  background-color: #5a2c8c;
}
.property-search-button:active {
transform: scale(0.95);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
 list-style-type: none;
 color: black;
}

.link-item {
  text-decoration: none;
  font-weight: 500;
  margin: 10px;
  color: black;
}

.link-item:hover {
    text-decoration: underline;
    text-decoration-color: #5a2c8c;
}

@media only screen and (min-width: 450px){
    .side-bar {
      display: flex;
      flex-direction: column;
      min-width: max-content;
    }
  .property-search {
    display: flex;
  }
}

@media only screen and (max-width: 450px){
  .property-search-button {
    margin-left: 0;
  }
  .property-search {
    margin: 2px;
  }
}