.filter-title {
  color: #5a2c8c;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.side-bar {
  border: 2px solid lightgrey;
  background: white;
}

.sidebar-links {
 list-style-type: none;
 color: #5a2c8c;
}

.link-item {
  text-decoration: none;
  font-weight: 700;
  margin: 10px;
}

.link-item:hover {
    text-decoration: underline;
    text-decoration-color: #5a2c8c;
}

@media only screen and (min-width: 450px){
    .side-bar {
        display: flex;
        flex-direction: row;
    }
}